* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
:root {
  --main-color: #3758f9;
}
.nav-bar {
  background-color: white;
  padding: 12px 160px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  gap: 32px;
}
.nav-right ul li:last-of-type {
  margin-right: 32px;
}
.nav-right ul li:hover {
  color: var(--main-color);
  cursor: pointer;
  font-weight: 400;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
}
.name {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.background {
  background-color: #ddedff !important;
  width: 100%;
  height: 778px;
  gap: 0px;
  opacity: 0px;
  position: absolute !important;
  overflow: hidden;
}
.circle-pink {
  background: radial-gradient(50% 50% at 50% 50%, #fff1e3 0%, #f1cdec 100%);
  width: 585px;
  height: 767px;
  top: -298px;
  left: -329px;
  gap: 0px;

  border-radius: 100%;
  position: relative;
  filter: blur(100px);
}
.circle-green {
  background: #d9fce7;

  width: 387px;
  height: 1137px;
  top: -624px;
  left: 1621px;
  gap: 0px;
  transform: rotate(90deg);
  border-radius: 100%;
  position: relative;
  filter: blur(100px);
}
#introduce .text {
  width: Hug (824px) px;
  height: Hug (96px) px;
  top: 80px;

  padding: 0px 3px 0px 3px;
  gap: 8px;
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
#introduce .text h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
#introduce .text p {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
#introduce .intro-img img {
  width: 1120px;
  height: 450px;
  margin-top: 88px;
  left: 50%;
  transform: translateX(-50%);
  gap: 0px;
  opacity: 0px;
  position: relative;
}
#content {
  width: 1120px;
  height: auto;
  margin: 40px auto;
}
.muc-tieu h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 180px;
  padding: 12px 0;
}
.muc-tieu hr {
  width: 4vw;
  border: 2.5px solid blue;
  margin: auto;
}
.muc-tieu p {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-top: 36px;
}
.hoat-dong {
  width: 1120px;
  height: auto;
  margin: 40px auto;
}

.hoat-dong h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 86px;
  padding: 12px 0;
}
.hoat-dong hr {
  width: 4vw;
  border: 2.5px solid blue;
  margin: auto;
  margin-bottom: 36px;
}
.hoat-dong-image {
  flex-wrap: wrap;
  display: flex;
}
.hoat-dong-image img {
  height: 235px;
  width: 352px;
  object-fit: cover;
  border-radius: 5%;
  margin: 0 8px;
}
.card {
  padding: 300px;
  height: 200px;
  background-image: url(./images/intro-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 200px;
  position: relative;
}
.card-content {
  position: absolute;
  border-radius: 8px;
  padding: 16px;
  background-color: #000000a6;
  color: white;
  bottom: -50%;
  right: 50%;
  transform: translateX(50%);
  transition: bottom 2s ease-in-out;
  animation: example-down 1s ease-in-out forwards;
}
@keyframes example {
  from {
    bottom: -50%px;
  }
  to {
    bottom: 50px;
  }
}

@keyframes example-down {
  from {
    bottom: 50px;
  }
  to {
    bottom: -50%;
  }
}

.card:hover .card-content {
  animation: example 1s ease-in-out forwards;
  cursor: pointer;
}
/* #contact {
  width: 100vw;
}
.top-img {
  position: relative;
}
.top-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 332px;
  background-color: rgba(73, 73, 73, 0.5);
  z-index: 1;
}

.top-img img {
  width: 100vw;
  height: 332px;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}
.top-img h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  color: white;
  padding: 12px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 175%);
}
.top-img hr {
  width: 3.5vw;
  border: 2.5px solid #97a8fc;
  margin: auto;
  position: relative;
  z-index: 2;
}
.container-lien-he {
  width: 1120px;
  height: 362px;
  margin: 40px auto;
  padding-top: 40px;
}
.contact-left,
.contact-right {
  position: relative;
  margin-top: 0; /* Adjust this value as needed 
} */

#contact {
  width: 100vw;
  background-color: #F3F4F6;
  height: 100vh;
}

.top-img {
  position: relative;
}

.top-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 432px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.top-img img {
  width: 100%;
  height: 432px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.top-img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  padding: 12px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.top-img hr {
  width: 3.5vw;
  border: 2.5px solid #97a8fc;
  margin: auto;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.container-lien-he {
  width: 1120px;
  height: auto;
  margin: 40px auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}

.contact-left,
.contact-right {
  /* flex: 1; */
}
.contact-left {
  width: 496px;
  height: 268px;
  gap: 32px;
  opacity: 0px;
}
.contact-left h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  padding-bottom: 32px;
}
.contact-left p:first-of-type {
  size: 18px;
  line-height: 26px;
  font-weight: normal !important;
  padding-bottom: 32px;
}
.contact-left p:last-of-type {
  size: 18px;
  line-height: 26px;
  font-weight: normal !important;
}
.lien-he {
  width: 496px;
  height: 26px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}
.lien-he .email {
  font-size: 18px;
  line-height: 26px;
  color: #3758f9;
  width: 232px;
  height: 100%;
}
.lien-he .phone-number {
  font-size: 18px;
  line-height: 26px;
  width: 232px;
  height: 100%;
}

.contact-right {
  width: 496px;
  height: 362px;
  gap: 32px;
}

input[type="text"]{
  outline: none;
  border: none;
  padding: 11px 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
}

input[type="text"]::placeholder, textarea::placeholder{
  font-family: "Inter", sans-serif;
}

.wrap-form-item{
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  gap: 16px;
}

.info-form-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

textarea{
  width: 100%;
  outline: none;
  border: none;
  padding: 11px 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
  resize: none;
  font-family: "Inter", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

#submit {
  display: flex;
  justify-content: center;
  gap: 6px;
  width: 100%;
  padding: 11px 20px;
  background-color: #3758f9;
  color: white;
  border: none;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}